<h1><%= @ability.name %> Type</h1>

<h2>Pokémon with <%= @ability.name %> Type</h2>
<% if @pokemons.any? %>
  <ul>
    <% @pokemons.each do |pokemon| %>
      <li>
      <a href="/pokemon/<%= pokemon.id %>">
        <%= pokemon.name %>
      </a>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No Pokémon found with this type.</p>
<% end %>